section:not(.intro) {
  padding: 1rem 0;
}

.intro {
  /* Vertically responsive for mobile full page*/
  // height: 100vh;
  // min-height: 300px; /* Avoid squashing*/

  /* Center in parent*/
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;

  // position: relative; /* For invitation to scroll down */
}

/* Invitation to scroll down*/
.intro::after {
  content: ' ';
  display: block;
  width: 50px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
  background-color: #ddd;
  position: absolute;
  bottom: 1.5rem;
}

.intro .picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

@keyframes introImgAppear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes introTxtAppearV {
  from {
    opacity: 0;
    transform: translateY(3vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes introTxtAppearH {
  from {
    opacity: 0;
    transform: translateX(3vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro .picture {
  opacity: 0;
  animation: 0.75s ease 0s 1 introImgAppear forwards;
}

.intro .details {
  opacity: 0;
  animation: 0.75s ease 0s 1 introTxtAppearV forwards;
}

.intro h1 {
  font-weight: 300;
  font-family: Heebo, sans-serif;
}
.intro .title {
  margin: 0;
  color: #aaa;
}
.title {
  font-family: Heebo, sans-serif;
  font-weight: 400;
}

/* Large screens*/
@media (min-width: 960px) {
  .intro {
    flex-direction: row; /* todo: broken by container*/
    font-size: 125%;
  }
  .intro .picture {
    width: 200px;
    height: 200px;
    margin: 0 3rem;
  }
  .intro .details {
    text-align: left;
    animation: 0.75s ease 0s 1 introTxtAppearH forwards;
  }
}

.intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 600px));

  background-color: #fff;
  color: #000;

  .hero {
    text-align: center;

    h1 {
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
    h4 {
      color: #555;
      margin-top: 0;
      font-weight: lighter;
    }
  }

  .details {
    text-align: center;
  }
}
