// Footer | Links

footer {
  background-color: #555;
  color: #ddd;
  text-align: center;
}

footer .secondary {
  color: #888;
  font-size: 0.75rem;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer li {
  margin: 0 10px;
}

footer a {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

footer .icon {
  width: 40px;
  height: 40px;
  padding: 5px 10px;
}
